.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-RyXLUYNTNw4A);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-bpg6JZipAVvt);
  font-family: var(--token-7ad4aJiCL1fz);
  font-size: var(--token-13dZr2sBdLhE);
  line-height: var(--token-9QZ-s4HDguTm);
  outline-style: none;
  border-radius: var(--token-5MUnaspBUmzo);
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-eptnqUpx7PnS);
  outline-offset: 1px;
  outline-color: var(--token-oypQoM8Zk6oM);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-U4NWVqq8-RNp);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-G-cH_gYGcTAy);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-MXqcDw15F9X0);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-Pnbw0nAh4mdW);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-xBQwO1ngIXMB);
}
.rootcolor_blue:global(.__wab_instance) {
  background: var(--token-RyXLUYNTNw4A);
  border-style: solid;
  border-color: #185adb;
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-XEeqyjEn13Y3);
  font-size: var(--token-Rf976ULUwrwL);
  column-gap: var(--token-eptnqUpx7PnS);
  row-gap: 0px;
  border-radius: var(--token-SZwbCo1lzQZR);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-Rf976ULUwrwL);
  line-height: var(--token-XEeqyjEn13Y3);
  column-gap: var(--token-SZwbCo1lzQZR);
  row-gap: 0px;
  border-radius: var(--token-SZwbCo1lzQZR);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-mvHz36ptTekL);
  line-height: var(--token-DLfEnXblRD3H);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-mvHz36ptTekL);
  line-height: var(--token-DLfEnXblRD3H);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-P68bo2enhVUI);
  border-radius: var(--token-5MUnaspBUmzo);
}
.softBackgroundcolor_neutral {
  background: var(--token-Z14iFgLTeS-y);
}
.softBackgroundcolor_muted {
  background: var(--token-9-4rNf7yvrkr);
}
.softBackgroundcolor_success {
  background: var(--token-1x0zjc5WtQrA);
}
.softBackgroundcolor_warning {
  background: var(--token-nJlRYGImU0zw);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-Mb8qKPT-hrxP);
}
.softBackgroundtype_soft {
  background: var(--token-yqEGNR-_oTNh);
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.roottype_bordered_color_blue[data-hovered]
  .softBackgroundtype_bordered_color_blue {
  background: var(--token-jbjGtFYvqu9t);
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-5MUnaspBUmzo);
  border: 0px solid var(--token-pxNPTU3qxM0V);
}
.bordercolor_neutral {
  border-color: var(--token-fh3RV9ajZ1nU);
}
.bordercolor_muted {
  border-color: var(--token-LaFJaBGS-wyo);
}
.bordercolor_success {
  border-color: var(--token-WeKuzdTKDmUs);
}
.bordercolor_warning {
  border-color: var(--token-bB6dqAqjtjVh);
}
.bordercolor_errorDestructive {
  border-color: var(--token-LSlgvtsMD2HL);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
  border-color: #185adb;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-5MUnaspBUmzo);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-s5u867ouhNtt);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-g8MvCva-TSGw);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-RAc0OKGH2LD5);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__rcAqT {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-5MUnaspBUmzo) var(--token-JCKElN8MP6M6);
}
.freeBox__rcAqT > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-5MUnaspBUmzo));
  width: calc(100% + var(--token-5MUnaspBUmzo));
}
.freeBox__rcAqT > :global(.__wab_flex-container) > *,
.freeBox__rcAqT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rcAqT > :global(.__wab_flex-container) > picture > img,
.freeBox__rcAqT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-5MUnaspBUmzo);
}
.freeBoxsize_extraSmall__rcAqTrR46B {
  padding: var(--token-SZwbCo1lzQZR) var(--token-5MUnaspBUmzo);
}
.freeBoxsize_small__rcAqTxFjC8 {
  padding: var(--token-5MUnaspBUmzo) var(--token-bpg6JZipAVvt);
}
.freeBoxsize_large__rcAqTpngbq {
  padding-top: var(--token-SZwbCo1lzQZR);
  padding-bottom: var(--token-SZwbCo1lzQZR);
}
.freeBoxsize_extraLarge__rcAqTtEgJy {
  padding: 16px 32px;
}
.freeBoxroundedFull__rcAqT8OuyM {
  padding-right: var(--token-GEagoxy-wM6K);
  padding-left: var(--token-GEagoxy-wM6K);
}
.freeBox__rfrN {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__rfrNhvmBn {
  display: flex;
}
.slotTargetStart {
  color: var(--token-sRAUo_uxyOhU);
}
.slotTargetStartcolor_neutral {
  color: var(--token-Z8Ml6evXraW7);
}
.slotTargetStartcolor_muted {
  color: var(--token-kyo9RvX8lltb);
}
.slotTargetStartcolor_success {
  color: var(--token-JjT9jzGo_BZe);
}
.slotTargetStartcolor_warning {
  color: var(--token-cZavzA_KdB75);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-v2IqvnkupmXy);
}
.slotTargetStarttype_soft {
  color: var(--token-DSi5IOAYaGy5);
}
.slotTargetStarttype_bordered {
  color: var(--token-DSi5IOAYaGy5);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-Rf976ULUwrwL);
}
.slotTargetStartsize_small {
  font-size: var(--token-Rf976ULUwrwL);
}
.slotTargetStartsize_large {
  font-size: var(--token-mvHz36ptTekL);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-mvHz36ptTekL);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-jbjGtFYvqu9t);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-jbjGtFYvqu9t);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-NXZiyNY0P6AH);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-NXZiyNY0P6AH);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-oASPyc5joK6w);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-oASPyc5joK6w);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-G7Jf8nzeir1Q);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-G7Jf8nzeir1Q);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token--99d5Fhg_eq_);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token--99d5Fhg_eq_);
}
.svg__bQp2 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-sRAUo_uxyOhU);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-Z8Ml6evXraW7);
}
.slotTargetLabelcolor_muted {
  color: var(--token-kyo9RvX8lltb);
}
.slotTargetLabelcolor_success {
  color: var(--token-JjT9jzGo_BZe);
}
.slotTargetLabelcolor_warning {
  color: var(--token-cZavzA_KdB75);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-v2IqvnkupmXy);
}
.slotTargetLabeltype_soft {
  color: #185adb;
}
.slotTargetLabeltype_bordered {
  color: var(--token-DSi5IOAYaGy5);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-jbjGtFYvqu9t);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-NXZiyNY0P6AH);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-jbjGtFYvqu9t);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-oASPyc5joK6w);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-NXZiyNY0P6AH);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-G7Jf8nzeir1Q);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-oASPyc5joK6w);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token--99d5Fhg_eq_);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-G7Jf8nzeir1Q);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token--99d5Fhg_eq_);
}
.text__tTUoZ {
  white-space: pre;
  color: #eeeeee;
}
.freeBox__q0Az {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__q0AzncfeI {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-sRAUo_uxyOhU);
}
.slotTargetEndcolor_neutral {
  color: var(--token-Z8Ml6evXraW7);
}
.slotTargetEndcolor_muted {
  color: var(--token-kyo9RvX8lltb);
}
.slotTargetEndcolor_success {
  color: var(--token-JjT9jzGo_BZe);
}
.slotTargetEndcolor_warning {
  color: var(--token-cZavzA_KdB75);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-v2IqvnkupmXy);
}
.slotTargetEndtype_soft {
  color: var(--token-DSi5IOAYaGy5);
}
.slotTargetEndtype_bordered {
  color: var(--token-DSi5IOAYaGy5);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-Rf976ULUwrwL);
}
.slotTargetEndsize_small {
  font-size: var(--token-Rf976ULUwrwL);
}
.slotTargetEndsize_large {
  font-size: var(--token-mvHz36ptTekL);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-mvHz36ptTekL);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-jbjGtFYvqu9t);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-jbjGtFYvqu9t);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-NXZiyNY0P6AH);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-NXZiyNY0P6AH);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-oASPyc5joK6w);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-oASPyc5joK6w);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-G7Jf8nzeir1Q);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-G7Jf8nzeir1Q);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token--99d5Fhg_eq_);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token--99d5Fhg_eq_);
}
.svg__gVpqA {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
