@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-4LxY8SSWNRTw: 1140px;
  --plasmic-token-content-max-width: var(--token-4LxY8SSWNRTw);
  --token-XgYSHC1ayqUE: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-XgYSHC1ayqUE);
  --token-dkoDdB6DKyop: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-dkoDdB6DKyop);
  --token-vXFlVWH6XQWO: #92959bd9;
  --plasmic-token-light-label: var(--token-vXFlVWH6XQWO);
  --token-vCOevMDENz9f: #05050599;
  --plasmic-token-light-secondary: var(--token-vCOevMDENz9f);
  --token-vmHUdPZHWsbq: #007aff;
  --plasmic-token-light-blue: var(--token-vmHUdPZHWsbq);
  --token-swgYBBO5FdOD: #ff3b30;
  --plasmic-token-light-red: var(--token-swgYBBO5FdOD);
  --token-yqEGNR-_oTNh: #ffffff;
  --plasmic-token-white: var(--token-yqEGNR-_oTNh);
  --token-CopONGrN93N2: #ffffffd9;
  --plasmic-token-dark-label: var(--token-CopONGrN93N2);
  --token-B2JXBbiMWRaT: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-B2JXBbiMWRaT);
  --token-ZzNVGLm1bh6u: #0000001a;
  --plasmic-token-light-quarternary: var(--token-ZzNVGLm1bh6u);
  --token-GhFMaOPKUXmE: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-GhFMaOPKUXmE);
  --token-vHKa3Kw4gx4X: #32d74b;
  --plasmic-token-dark-green: var(--token-vHKa3Kw4gx4X);
  --token-gDy9G3zWRRRA: #0a84ff;
  --plasmic-token-dark-blue: var(--token-gDy9G3zWRRRA);
  --token-JTHwXMB7WPAs: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-JTHwXMB7WPAs);
  --token-7cOBkP-w1Lp6: #34c759;
  --plasmic-token-light-green: var(--token-7cOBkP-w1Lp6);
  --token-7qK6mtQ0tSsd: #5856d6;
  --plasmic-token-light-indigo: var(--token-7qK6mtQ0tSsd);
  --token-RyXLUYNTNw4A: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-RyXLUYNTNw4A);
  --token-mkYBRPbMcXQ3: 1240px;
  --plasmic-token-max-width-navbar: var(--token-mkYBRPbMcXQ3);
  --token-IRrexxRBxRpk: var(--token-x72IztPA7Qd7);
  --plasmic-token-unnamed-style-token-2: var(--token-IRrexxRBxRpk);
  --token-x72IztPA7Qd7: #eeeeee80;
  --plasmic-token-grey: var(--token-x72IztPA7Qd7);
  --token-oypQoM8Zk6oM: #2563eb;
  --plasmic-token-brand-brand: var(--token-oypQoM8Zk6oM);
  --token-bpg6JZipAVvt: 0.5rem;
  --plasmic-token-size-8: var(--token-bpg6JZipAVvt);
  --token-7ad4aJiCL1fz: Inter;
  --plasmic-token-sans-serif: var(--token-7ad4aJiCL1fz);
  --token-13dZr2sBdLhE: 1rem;
  --plasmic-token-font-md: var(--token-13dZr2sBdLhE);
  --token-9QZ-s4HDguTm: 1.25;
  --plasmic-token-line-height-md: var(--token-9QZ-s4HDguTm);
  --token-5MUnaspBUmzo: 0.375rem;
  --plasmic-token-size-6: var(--token-5MUnaspBUmzo);
  --token-U4NWVqq8-RNp: #374151;
  --plasmic-token-neutral-neutral: var(--token-U4NWVqq8-RNp);
  --token-xBQwO1ngIXMB: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-xBQwO1ngIXMB);
  --token-G-cH_gYGcTAy: #6b7280;
  --plasmic-token-muted-muted: var(--token-G-cH_gYGcTAy);
  --token-SZwbCo1lzQZR: 0.25rem;
  --plasmic-token-size-4: var(--token-SZwbCo1lzQZR);
  --token-Rf976ULUwrwL: 0.75rem;
  --plasmic-token-font-sm: var(--token-Rf976ULUwrwL);
  --token-XEeqyjEn13Y3: 1;
  --plasmic-token-line-height-sm: var(--token-XEeqyjEn13Y3);
  --token-mvHz36ptTekL: 1.25rem;
  --plasmic-token-font-lg: var(--token-mvHz36ptTekL);
  --token-DLfEnXblRD3H: 1.4;
  --plasmic-token-line-height-lg: var(--token-DLfEnXblRD3H);
  --token-eptnqUpx7PnS: 0.125rem;
  --plasmic-token-size-2: var(--token-eptnqUpx7PnS);
  --token-MXqcDw15F9X0: #16a34a;
  --plasmic-token-success-success: var(--token-MXqcDw15F9X0);
  --token-Pnbw0nAh4mdW: #facc15;
  --plasmic-token-warning-warning: var(--token-Pnbw0nAh4mdW);
  --token-P68bo2enhVUI: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-P68bo2enhVUI);
  --token-Z14iFgLTeS-y: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-Z14iFgLTeS-y);
  --token-9-4rNf7yvrkr: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-9-4rNf7yvrkr);
  --token-1x0zjc5WtQrA: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-1x0zjc5WtQrA);
  --token-nJlRYGImU0zw: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-nJlRYGImU0zw);
  --token-Mb8qKPT-hrxP: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-Mb8qKPT-hrxP);
  --token-pxNPTU3qxM0V: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-pxNPTU3qxM0V);
  --token-fh3RV9ajZ1nU: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-fh3RV9ajZ1nU);
  --token-LaFJaBGS-wyo: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-LaFJaBGS-wyo);
  --token-WeKuzdTKDmUs: #86efac;
  --plasmic-token-success-success-border: var(--token-WeKuzdTKDmUs);
  --token-bB6dqAqjtjVh: #fde047;
  --plasmic-token-warning-warning-border: var(--token-bB6dqAqjtjVh);
  --token-LSlgvtsMD2HL: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-LSlgvtsMD2HL);
  --token-s5u867ouhNtt: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-s5u867ouhNtt);
  --token-g8MvCva-TSGw: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-g8MvCva-TSGw);
  --token-RAc0OKGH2LD5: #00000033;
  --plasmic-token-interaction-pressed: var(--token-RAc0OKGH2LD5);
  --token-JCKElN8MP6M6: 0.625rem;
  --plasmic-token-size-10: var(--token-JCKElN8MP6M6);
  --token-GEagoxy-wM6K: 0.75rem;
  --plasmic-token-size-12: var(--token-GEagoxy-wM6K);
  --token-sRAUo_uxyOhU: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-sRAUo_uxyOhU);
  --token-Z8Ml6evXraW7: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-Z8Ml6evXraW7);
  --token-kyo9RvX8lltb: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-kyo9RvX8lltb);
  --token-DSi5IOAYaGy5: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-DSi5IOAYaGy5);
  --token-cZavzA_KdB75: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-cZavzA_KdB75);
  --token-JjT9jzGo_BZe: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-JjT9jzGo_BZe);
  --token-v2IqvnkupmXy: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-v2IqvnkupmXy);
  --token-jbjGtFYvqu9t: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-jbjGtFYvqu9t);
  --token-NXZiyNY0P6AH: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-NXZiyNY0P6AH);
  --token-oASPyc5joK6w: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-oASPyc5joK6w);
  --token-G7Jf8nzeir1Q: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-G7Jf8nzeir1Q);
  --token--99d5Fhg_eq_: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token--99d5Fhg_eq_
  );
  --token-M6B6QQKMhWkX: #030712;
  --plasmic-token-basic-text-primary: var(--token-M6B6QQKMhWkX);
  --token-fhtQqUJSBEvl: 1rem;
  --plasmic-token-size-16: var(--token-fhtQqUJSBEvl);
  --token-wxHPO-SvvSzv: #ffffff;
  --plasmic-token-basic-container-background: var(--token-wxHPO-SvvSzv);
  --token-L-0fG5LiSK9b: #171717;
  --plasmic-token-basic-container-background-dark: var(--token-L-0fG5LiSK9b);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-wvsDZsb8exvO_font-family: "Montserrat", sans-serif;
  --mixin-wvsDZsb8exvO_font-size: 24px;
  --mixin-wvsDZsb8exvO_font-weight: 500;
  --mixin-wvsDZsb8exvO_font-style: normal;
  --mixin-wvsDZsb8exvO_color: #00000080;
  --mixin-wvsDZsb8exvO_text-align: left;
  --mixin-wvsDZsb8exvO_text-transform: none;
  --mixin-wvsDZsb8exvO_line-height: 1.5;
  --mixin-wvsDZsb8exvO_letter-spacing: normal;
  --mixin-wvsDZsb8exvO_white-space: pre-wrap;
  --mixin-wvsDZsb8exvO_user-select: text;
  --mixin-wvsDZsb8exvO_text-decoration-line: none;
  --mixin-wvsDZsb8exvO_text-overflow: clip;
  --mixin-auDbLjM6spBH_white-space: pre-wrap;
  --mixin-2Su_qjVYH_aH_font-family: "Montserrat", sans-serif;
  --mixin-2Su_qjVYH_aH_color: #ffffff;
  --mixin-2Su_qjVYH_aH_font-size: 72px;
  --mixin-2Su_qjVYH_aH_font-weight: 700;
  --mixin-2Su_qjVYH_aH_line-height: 88px;
  --mixin-2Su_qjVYH_aH_white-space: pre-wrap;
  --mixin-Jw-6gfFHm41e_font-family: "Inter", sans-serif;
  --mixin-Jw-6gfFHm41e_color: #000000;
  --mixin-Jw-6gfFHm41e_font-size: 36px;
  --mixin-Jw-6gfFHm41e_font-weight: 700;
  --mixin-Jw-6gfFHm41e_line-height: 43px;
  --mixin-Jw-6gfFHm41e_text-align: center;
  --mixin-Jw-6gfFHm41e_white-space: pre-wrap;
  --mixin-Q_yJTGnfJMhQ_font-family: "Inter", sans-serif;
  --mixin-Q_yJTGnfJMhQ_color: #000000;
  --mixin-Q_yJTGnfJMhQ_font-size: 24px;
  --mixin-Q_yJTGnfJMhQ_font-weight: 600;
  --mixin-Q_yJTGnfJMhQ_letter-spacing: -0.5px;
  --mixin-Q_yJTGnfJMhQ_line-height: 1.3;
  --mixin-Q_yJTGnfJMhQ_white-space: pre-wrap;
  --mixin-Xz6tPYIcl1v3_font-family: "Montserrat", sans-serif;
  --mixin-Xz6tPYIcl1v3_color: #185adb;
  --mixin-Xz6tPYIcl1v3_font-size: 24px;
  --mixin-Xz6tPYIcl1v3_font-weight: 700;
  --mixin-Xz6tPYIcl1v3_line-height: 29px;
  --mixin-Xz6tPYIcl1v3_text-align: center;
  --mixin-Xz6tPYIcl1v3_white-space: pre-wrap;
  --mixin-IRaFw-pblSdY_font-family: "Inter", sans-serif;
  --mixin-IRaFw-pblSdY_color: #000000;
  --mixin-IRaFw-pblSdY_font-size: 16px;
  --mixin-IRaFw-pblSdY_font-weight: 600;
  --mixin-IRaFw-pblSdY_line-height: 1.5;
  --mixin-IRaFw-pblSdY_white-space: pre-wrap;
  --mixin-Ehk1nh5L_wKu_border-left-color: #dddddd;
  --mixin-Ehk1nh5L_wKu_border-left-style: solid;
  --mixin-Ehk1nh5L_wKu_border-left-width: 3px;
  --mixin-Ehk1nh5L_wKu_color: #888888;
  --mixin-Ehk1nh5L_wKu_padding-left: 10px;
  --mixin-Ehk1nh5L_wKu_white-space: pre-wrap;
  --mixin-6tEV4UrubKv3_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-6tEV4UrubKv3_border-bottom-color: #dddddd;
  --mixin-6tEV4UrubKv3_border-bottom-style: solid;
  --mixin-6tEV4UrubKv3_border-bottom-width: 1px;
  --mixin-6tEV4UrubKv3_border-left-color: #dddddd;
  --mixin-6tEV4UrubKv3_border-left-style: solid;
  --mixin-6tEV4UrubKv3_border-left-width: 1px;
  --mixin-6tEV4UrubKv3_border-right-color: #dddddd;
  --mixin-6tEV4UrubKv3_border-right-style: solid;
  --mixin-6tEV4UrubKv3_border-right-width: 1px;
  --mixin-6tEV4UrubKv3_border-top-color: #dddddd;
  --mixin-6tEV4UrubKv3_border-top-style: solid;
  --mixin-6tEV4UrubKv3_border-top-width: 1px;
  --mixin-6tEV4UrubKv3_border-bottom-left-radius: 3px;
  --mixin-6tEV4UrubKv3_border-bottom-right-radius: 3px;
  --mixin-6tEV4UrubKv3_border-top-left-radius: 3px;
  --mixin-6tEV4UrubKv3_border-top-right-radius: 3px;
  --mixin-6tEV4UrubKv3_font-family: "Inconsolata";
  --mixin-6tEV4UrubKv3_padding-bottom: 1px;
  --mixin-6tEV4UrubKv3_padding-left: 4px;
  --mixin-6tEV4UrubKv3_padding-right: 4px;
  --mixin-6tEV4UrubKv3_padding-top: 1px;
  --mixin-6tEV4UrubKv3_white-space: pre-wrap;
  --mixin-HCrNRV4fVY3l_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-HCrNRV4fVY3l_border-bottom-color: #dddddd;
  --mixin-HCrNRV4fVY3l_border-bottom-style: solid;
  --mixin-HCrNRV4fVY3l_border-bottom-width: 1px;
  --mixin-HCrNRV4fVY3l_border-left-color: #dddddd;
  --mixin-HCrNRV4fVY3l_border-left-style: solid;
  --mixin-HCrNRV4fVY3l_border-left-width: 1px;
  --mixin-HCrNRV4fVY3l_border-right-color: #dddddd;
  --mixin-HCrNRV4fVY3l_border-right-style: solid;
  --mixin-HCrNRV4fVY3l_border-right-width: 1px;
  --mixin-HCrNRV4fVY3l_border-top-color: #dddddd;
  --mixin-HCrNRV4fVY3l_border-top-style: solid;
  --mixin-HCrNRV4fVY3l_border-top-width: 1px;
  --mixin-HCrNRV4fVY3l_border-bottom-left-radius: 3px;
  --mixin-HCrNRV4fVY3l_border-bottom-right-radius: 3px;
  --mixin-HCrNRV4fVY3l_border-top-left-radius: 3px;
  --mixin-HCrNRV4fVY3l_border-top-right-radius: 3px;
  --mixin-HCrNRV4fVY3l_font-family: "Inconsolata";
  --mixin-HCrNRV4fVY3l_padding-bottom: 3px;
  --mixin-HCrNRV4fVY3l_padding-left: 6px;
  --mixin-HCrNRV4fVY3l_padding-right: 6px;
  --mixin-HCrNRV4fVY3l_padding-top: 3px;
  --mixin-HCrNRV4fVY3l_white-space: pre-wrap;
  --mixin-5Bs9lCrQLba-_display: flex;
  --mixin-5Bs9lCrQLba-_flex-direction: column;
  --mixin-5Bs9lCrQLba-_align-items: stretch;
  --mixin-5Bs9lCrQLba-_justify-content: flex-start;
  --mixin-5Bs9lCrQLba-_list-style-position: outside;
  --mixin-5Bs9lCrQLba-_padding-left: 40px;
  --mixin-5Bs9lCrQLba-_position: relative;
  --mixin-5Bs9lCrQLba-_list-style-type: decimal;
  --mixin-5Bs9lCrQLba-_white-space: pre-wrap;
  --mixin-gP5xdfYTTXsf_display: flex;
  --mixin-gP5xdfYTTXsf_flex-direction: column;
  --mixin-gP5xdfYTTXsf_align-items: stretch;
  --mixin-gP5xdfYTTXsf_justify-content: flex-start;
  --mixin-gP5xdfYTTXsf_list-style-position: outside;
  --mixin-gP5xdfYTTXsf_padding-left: 40px;
  --mixin-gP5xdfYTTXsf_position: relative;
  --mixin-gP5xdfYTTXsf_list-style-type: disc;
  --mixin-gP5xdfYTTXsf_white-space: pre-wrap;
  --mixin-Tqa5PLbvkxmI_color: #000000;
  --mixin-Tqa5PLbvkxmI_font-family: "Montserrat", sans-serif;
  --mixin-Tqa5PLbvkxmI_font-size: 64px;
  --mixin-Tqa5PLbvkxmI_font-weight: 700;
  --mixin-Tqa5PLbvkxmI_line-height: 78px;
  --mixin-Tqa5PLbvkxmI_text-align: center;
  --mixin-Tqa5PLbvkxmI_white-space: pre-wrap;
  --mixin-HayDM1jlTYNR_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 930px) {
  .plasmic_default_styles {
    --mixin-wvsDZsb8exvO_font-size: 16px;
    --mixin-wvsDZsb8exvO_line-height: 27px;
    --mixin-wvsDZsb8exvO_white-space: pre-wrap;
    --mixin-2Su_qjVYH_aH_font-size: 40px;
    --mixin-2Su_qjVYH_aH_line-height: 48px;
    --mixin-2Su_qjVYH_aH_white-space: pre-wrap;
    --mixin-Tqa5PLbvkxmI_font-size: 28px;
    --mixin-Tqa5PLbvkxmI_line-height: 34px;
    --mixin-Tqa5PLbvkxmI_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-4n1qkHSDNro1_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-4n1qkHSDNro1_white-space);
  --mixin-4FnfR4mNCCxI_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-4FnfR4mNCCxI_box-shadow
  );
  --mixin-4FnfR4mNCCxI_white-space: pre-wrap;
  --plasmic-mixin-medium-shadow_white-space: var(
    --mixin-4FnfR4mNCCxI_white-space
  );
  --mixin-WPz47sZUCvza_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-WPz47sZUCvza_white-space);
  --mixin-fz0KO5Ae2P2Q_white-space: pre-wrap;
  --plasmic-mixin-dark-section-background_white-space: var(
    --mixin-fz0KO5Ae2P2Q_white-space
  );
  --mixin-PuVZgKfck-cu_white-space: pre-wrap;
  --plasmic-mixin-content-max_white-space: var(
    --mixin-PuVZgKfck-cu_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-wvsDZsb8exvO_font-family);
  font-size: var(--mixin-wvsDZsb8exvO_font-size);
  font-weight: var(--mixin-wvsDZsb8exvO_font-weight);
  font-style: var(--mixin-wvsDZsb8exvO_font-style);
  color: var(--mixin-wvsDZsb8exvO_color);
  text-align: var(--mixin-wvsDZsb8exvO_text-align);
  text-transform: var(--mixin-wvsDZsb8exvO_text-transform);
  line-height: var(--mixin-wvsDZsb8exvO_line-height);
  letter-spacing: var(--mixin-wvsDZsb8exvO_letter-spacing);
  white-space: var(--mixin-wvsDZsb8exvO_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-2Su_qjVYH_aH_font-family);
  color: var(--mixin-2Su_qjVYH_aH_color);
  font-size: var(--mixin-2Su_qjVYH_aH_font-size);
  font-weight: var(--mixin-2Su_qjVYH_aH_font-weight);
  line-height: var(--mixin-2Su_qjVYH_aH_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-Jw-6gfFHm41e_font-family);
  color: var(--mixin-Jw-6gfFHm41e_color);
  font-size: var(--mixin-Jw-6gfFHm41e_font-size);
  font-weight: var(--mixin-Jw-6gfFHm41e_font-weight);
  line-height: var(--mixin-Jw-6gfFHm41e_line-height);
  text-align: var(--mixin-Jw-6gfFHm41e_text-align);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-Q_yJTGnfJMhQ_font-family);
  color: var(--mixin-Q_yJTGnfJMhQ_color);
  font-size: var(--mixin-Q_yJTGnfJMhQ_font-size);
  font-weight: var(--mixin-Q_yJTGnfJMhQ_font-weight);
  letter-spacing: var(--mixin-Q_yJTGnfJMhQ_letter-spacing);
  line-height: var(--mixin-Q_yJTGnfJMhQ_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-Xz6tPYIcl1v3_font-family);
  color: var(--mixin-Xz6tPYIcl1v3_color);
  font-size: var(--mixin-Xz6tPYIcl1v3_font-size);
  font-weight: var(--mixin-Xz6tPYIcl1v3_font-weight);
  line-height: var(--mixin-Xz6tPYIcl1v3_line-height);
  text-align: var(--mixin-Xz6tPYIcl1v3_text-align);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-IRaFw-pblSdY_font-family);
  color: var(--mixin-IRaFw-pblSdY_color);
  font-size: var(--mixin-IRaFw-pblSdY_font-size);
  font-weight: var(--mixin-IRaFw-pblSdY_font-weight);
  line-height: var(--mixin-IRaFw-pblSdY_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-Ehk1nh5L_wKu_color);
  padding-left: var(--mixin-Ehk1nh5L_wKu_padding-left);
  border-left: var(--mixin-Ehk1nh5L_wKu_border-left-width)
    var(--mixin-Ehk1nh5L_wKu_border-left-style)
    var(--mixin-Ehk1nh5L_wKu_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-6tEV4UrubKv3_font-family);
  border-radius: var(--mixin-6tEV4UrubKv3_border-top-left-radius)
    var(--mixin-6tEV4UrubKv3_border-top-right-radius)
    var(--mixin-6tEV4UrubKv3_border-bottom-right-radius)
    var(--mixin-6tEV4UrubKv3_border-bottom-left-radius);
  padding: var(--mixin-6tEV4UrubKv3_padding-top)
    var(--mixin-6tEV4UrubKv3_padding-right)
    var(--mixin-6tEV4UrubKv3_padding-bottom)
    var(--mixin-6tEV4UrubKv3_padding-left);
  border-top: var(--mixin-6tEV4UrubKv3_border-top-width)
    var(--mixin-6tEV4UrubKv3_border-top-style)
    var(--mixin-6tEV4UrubKv3_border-top-color);
  border-right: var(--mixin-6tEV4UrubKv3_border-right-width)
    var(--mixin-6tEV4UrubKv3_border-right-style)
    var(--mixin-6tEV4UrubKv3_border-right-color);
  border-bottom: var(--mixin-6tEV4UrubKv3_border-bottom-width)
    var(--mixin-6tEV4UrubKv3_border-bottom-style)
    var(--mixin-6tEV4UrubKv3_border-bottom-color);
  border-left: var(--mixin-6tEV4UrubKv3_border-left-width)
    var(--mixin-6tEV4UrubKv3_border-left-style)
    var(--mixin-6tEV4UrubKv3_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-HCrNRV4fVY3l_font-family);
  border-radius: var(--mixin-HCrNRV4fVY3l_border-top-left-radius)
    var(--mixin-HCrNRV4fVY3l_border-top-right-radius)
    var(--mixin-HCrNRV4fVY3l_border-bottom-right-radius)
    var(--mixin-HCrNRV4fVY3l_border-bottom-left-radius);
  padding: var(--mixin-HCrNRV4fVY3l_padding-top)
    var(--mixin-HCrNRV4fVY3l_padding-right)
    var(--mixin-HCrNRV4fVY3l_padding-bottom)
    var(--mixin-HCrNRV4fVY3l_padding-left);
  border-top: var(--mixin-HCrNRV4fVY3l_border-top-width)
    var(--mixin-HCrNRV4fVY3l_border-top-style)
    var(--mixin-HCrNRV4fVY3l_border-top-color);
  border-right: var(--mixin-HCrNRV4fVY3l_border-right-width)
    var(--mixin-HCrNRV4fVY3l_border-right-style)
    var(--mixin-HCrNRV4fVY3l_border-right-color);
  border-bottom: var(--mixin-HCrNRV4fVY3l_border-bottom-width)
    var(--mixin-HCrNRV4fVY3l_border-bottom-style)
    var(--mixin-HCrNRV4fVY3l_border-bottom-color);
  border-left: var(--mixin-HCrNRV4fVY3l_border-left-width)
    var(--mixin-HCrNRV4fVY3l_border-left-style)
    var(--mixin-HCrNRV4fVY3l_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-5Bs9lCrQLba-_display);
  flex-direction: var(--mixin-5Bs9lCrQLba-_flex-direction);
  align-items: var(--mixin-5Bs9lCrQLba-_align-items);
  justify-content: var(--mixin-5Bs9lCrQLba-_justify-content);
  list-style-position: var(--mixin-5Bs9lCrQLba-_list-style-position);
  padding-left: var(--mixin-5Bs9lCrQLba-_padding-left);
  position: var(--mixin-5Bs9lCrQLba-_position);
  list-style-type: var(--mixin-5Bs9lCrQLba-_list-style-type);
  flex-column-gap: var(--mixin-5Bs9lCrQLba-_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-gP5xdfYTTXsf_display);
  flex-direction: var(--mixin-gP5xdfYTTXsf_flex-direction);
  align-items: var(--mixin-gP5xdfYTTXsf_align-items);
  justify-content: var(--mixin-gP5xdfYTTXsf_justify-content);
  list-style-position: var(--mixin-gP5xdfYTTXsf_list-style-position);
  padding-left: var(--mixin-gP5xdfYTTXsf_padding-left);
  position: var(--mixin-gP5xdfYTTXsf_position);
  list-style-type: var(--mixin-gP5xdfYTTXsf_list-style-type);
  flex-column-gap: var(--mixin-gP5xdfYTTXsf_flex-column-gap);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-Tqa5PLbvkxmI_color);
  font-family: var(--mixin-Tqa5PLbvkxmI_font-family);
  font-size: var(--mixin-Tqa5PLbvkxmI_font-size);
  font-weight: var(--mixin-Tqa5PLbvkxmI_font-weight);
  line-height: var(--mixin-Tqa5PLbvkxmI_line-height);
  text-align: var(--mixin-Tqa5PLbvkxmI_text-align);
}

:where(.root_reset) h2:where(.h2):hover,
h2:where(.root_reset.h2):hover,
:where(.root_reset .__wab_expr_html_text) h2:hover,
:where(.root_reset_tags) h2:hover,
h2:where(.root_reset_tags):hover {
}
